
<!DOCTYPE html>
<html lang="en">
    <head> 
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sample Demo Website</title>
        <meta name="viewport" content="width=device-width">

       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

       <script src="http://www.agencyprojects.com/milbemax/js/resize.js" type="text/javascript"></script>

        <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/stylesheets/mstyle.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="favicon-1.png">
<script>
$(document).ready(function(){
        $.get("https://cdn.contentful.com/spaces/srih943s7prt/entries/2uqPbypicAoKeCi20UoM2O?access_token=8e99f3e47249d3cf172abba44ad78d06488a63381fd940de57b0b669abe08bd5", function(data, status){
			var store=data.fields.firstcontent;           
			$(".contentful").html(store);
        });  
});
</script>
 
    </head>

    <body>
        <div class="header">
            <div class="header-inner">
                <div class="logo-box">
                    <img src="http://placehold.it/130x50" alt="" class="img-responsive header-logo" onclick="javascript:location.href = 'index.php'"/>
                </div>
                <img src="http://www.agencyprojects.com/milbemax/img/mobile-menu.png" alt="Menu" class="mobile-menu"/>
                <ul class="main-menu">
                    <li class="menuabout"><a href="#">Link 1</a></li>
                    <li class="menuwhy"><a href="#">Link 2</a></li>
                    <li class="menufaq"><a href="#">Link 3</a></li>
                    <li class="menuworming"><a href="#">WORMING MADE EASY</a></li>
                    <li class="menubuy"><a href="#">WHERE TO BUY</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>

        </div>

        <div class="rightbanner">


        </div>



<div class="scrollcontent">
    <div class="homepageslider hidden-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="http://www.agencyprojects.com/milbemax/img/homepage-slider.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
        <div class="homepageslider visible-xs">
        <div class="bxslidertop">
            <ul class="bxslider">
                <li>
                    <img src="http://www.agencyprojects.com/milbemax/img/homepage-slider-mobile.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="homepagecontent">
        <div class="container">
            <img src="img/homepage-image01.png" alt="" class="img-responsive"/>
            <div class="first-par">
                Imus alibus, core, quati abor aut audi aboresequis id ullabo. Hiliqui tem. Itatio omnimil et ea sus.
                Num fuga. Nequam, occabore pedit aut prae autae sequat unt unt odic temporiore verio offictusam eicienit quas ius asita
                ame expliquo to et volorerae cullaborum reserate nosapid ea dolupti onsenditatem sum a quossus mollaces aut parumqui
                dessincte lat volorum quodit, vel et aut rehent ut voluptaqui in comnihil ma doluptu ribere erspis none volupta dem ium re
                conseque occum cum acea ne nime sit quae de non nuscillam, ommos eum, tem quam laboribus resti optatquatur?
            </div>
        </div>
        <div class="second-par">
            <h2>KEEPING YOUR PET HEALTHY WITH LOREM IPSUM</h2>
            <p>
                If your pet looks in good health, it’s easy to forget about worming them. But worms can be almost anywhere your pet goes – including your
                home and garden. They pose a threat to your pet’s health and your family’s health too. That’s why you should know which dog worms or cat
                worms your pet may be at risk from, and how you can protect them with LOREM IPSUM.
            </p> 
            <div id="content" >
        	<div>Search <input type="text" class="txtsrch">  <input class="btnsubmit" type="button" value="Search"></div> <br/>
			<div class="results"></div>
			
		
			 <div><h1>Below data is coming from contentful</h1></div>
			
			 <div class="contentful"></div>
      </div>
        </div>
    </div>



</div>


<div class="content footer">
    <div class="footer-container">
        <div class="col-sm-8 col-xs-12">
            <div class="footer-menu">
                <h3>ABOUT</h3>
                <div class="clearfix"></div>
                <ul class="hidden-xs">
                    <li><a href="">About Test</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Our Brands</a></li>
                    <li><a href="">Our  Guarantee</a></li>
                    <li><a href="">Reference Materials</a></li>
                </ul>
            </div>
            <div class="footer-menu hidden-xs">
                <h3>PRIVACY</h3>
                <div class="clearfix"></div>

            </div>
            <div class="footer-menu hidden-xs">
                <h3>TRADEMARKS</h3>
                <div class="clearfix"></div>

            </div>
            <div class="footer-menu hidden-xs">
                <h3>TERM OF USE</h3>
                <div class="clearfix"></div>

            </div>
            <div class="footer-menu visible-xs">
                <h3>CONTACT US</h3>
                <div class="clearfix"></div>

            </div>
            <div class="footer-menu footer-menu-last">
                <h3>SITEMAP</h3>
                <div class="clearfix"></div>

            </div>
        </div>

        <div class="col-sm-2 col-xs-12">
            <h3>CONNECT WITH US</h3>
            <div class="clearfix"></div>
            <ul class="footer-social">
                <li>
                    <a href="https://www.twitter.com" target="_blank">
                        <img src="http://www.agencyprojects.com/milbemax/img/social-icon01.png" alt=""/>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com" target="_blank">
                        <img src="http://www.agencyprojects.com/milbemax/img/social-icon02.png" alt=""/>
                    </a>
                </li>
                <li>
                    <a href="https://facebook.com" target="_blank">
                        <img src="http://www.agencyprojects.com/milbemax/img/social-icon03.png" alt=""/>
                    </a>
                </li>
            </ul>
        </div>
        <div class="clearfix"></div>

    </div>
</div>

<div class="footer-bottom">
    <p>© 2016 Copyright Test Site | <a href="">Privacy Statement</a> | <a href="">Trademark</a> | <a href="">Terms of Use</a> | <a href="">Site Map</a></p>
    
    <div class="clearfix"></div>
</div>
 <script>
  $(function() {
    $( "#accordion" ).accordion({
           heightStyle: "content",
           collapsible: true
    });
    
    $('.mobile-menu').click(function () {
    $('.main-menu').toggle();
});
  });
  $('.mobile-menu').click(function () {
    $('.main-menu').toggle();
});
$(".btnsubmit").click(function(){
    var searchtxt=$(".txtsrch").val();
	
	if(searchtxt!="")
	{
	var url="https://cdn.contentful.com/spaces/srih943s7prt/entries?access_token=8e99f3e47249d3cf172abba44ad78d06488a63381fd940de57b0b669abe08bd5&query="+searchtxt ;
		 $.get(url, function(data, status){		  
			var store=data.items[0].fields;  
			var parsed = JSON.parse(store);			
			var text = "";
			var i;
			for (i = 0; i < parsed.length; i++) {
				text += parsed[i] + "<br>";
			}			
			$(".results").html(text);
        });  
	
	
	}
});
  </script>

<script src="http://www.agencyprojects.com/milbemax/js/general.js" type="text/javascript"></script>

</body>
</html>

