<!DOCTYPE html >
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script>
$(document).ready(function(){
        $.get("https://cdn.contentful.com/spaces/srih943s7prt/entries/2uqPbypicAoKeCi20UoM2O?access_token=8e99f3e47249d3cf172abba44ad78d06488a63381fd940de57b0b669abe08bd5", function(data, status){
			var store=data.fields.firstcontent;           
			$(".contentful").html(store);
        });  
});
</script>
<link rel="stylesheet" type="text/css" href="/stylesheets/site.css" />


<title>Sample Test Website</title>
</head>

<body>
<div id="container">
		<div id="mainpic">
        	<h1>Sample <span class="lighter">Website</span></h1>
            <h2> ** Darshan **</h2>
        </div>    
        <div id="menu">
        	<ul>
            	<li class="menuitem"><a href="#">Link 1</a></li>
                <li class="menuitem"><a href="#">Link 2</a></li>
                <li class="menuitem"><a href="#">Link 3</a></li>
                <li class="menuitem"><a href="#">Link 4</a></li>
                <li class="menuitem"><a href="#">Link 5</a></li>
              <li class="menuitem"><a href="#">Link 6</a></li>
            </ul>
        </div>
        
		<div id="content" style="height:400px;">
        	<div>Static Content Here</div>
			<br/>
			 <div><h1>Below data is coming from contentful</h1></div>
			 <br/>
			 <div class="contentful"></div>
      </div>
	   <div id="footer"><h3><a href="#">Copyrights Content here </a></h3></div>
   </div>
</body>
</html>
