<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script>
$(document).ready(function(){
        $.get("https://cdn.contentful.com/spaces/srih943s7prt/entries/2uqPbypicAoKeCi20UoM2O?access_token=8e99f3e47249d3cf172abba44ad78d06488a63381fd940de57b0b669abe08bd5", function(data, status){
			var store=data.fields.firstcontent;           
			$(".contentful").html(store);
        });  
});
</script>
</head>
<?php
echo "Hello World!";
?>
<body>
<b><?= this is php block  ?></b>
<b>
Static Hello World Test Darshan Doshi
</b>
 <div>Below data is coming from contentful : </div>
 <div class="contentful"></div>
 
</body>
</html>
